html{
    background-color: #c0c2e9;
}

header {
    padding: 1rem;
    padding-left: 1.5rem;
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:#888aa7;
    color: #dddcc7;
    border-radius: 1rem;
    position: sticky;
    top: 0;
    border-style: inset;
    border-width: 5px;
}

main {
    padding: 5rem;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color:#49292a;
}

footer {
    font-size: 1rem;
    position: sticky;
    bottom: 0;
    padding: 1rem;
    background-color: #dddcc7;
}

img {
    display: block;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
}

#answers {
    color:rgb(64, 131, 38);
}

#painting {
    text-align: center;
    font-size: 20px;
    color:#49292a;
}

i {
    font-style: italic;
}

ul {
    list-style: disc;
    margin-left: 3rem;
}

ol {
    list-style: decimal;
    margin-left: 3rem;
}